<nav class="navbar navbar-expand-md">
  <div class="navbar-collapse" id="navbarsExampleDefault">
    <form class="form-inline my-0 my-lg-0 search">
      <input [formControl]="queryField" class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" autofocus>
    </form>
  </div>
</nav>

<main role="main">
  <div class="container-fluid" (scroll)="onScroll()">
    <div *ngIf="firstTime" align="center" class="align-middle">
      <img src="../../assets/search.png" class="w-50" style="min-width: 350px">
    </div>
    
    <div *ngIf="!firstTime && albums && albums.length == 0" align="center" class="align-middle">
      <img src="../../assets/no-albums.png" class="w-75" style="min-width: 350px">
    </div>

    <div *ngIf="!firstTime" class="row">
      <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let album of albums">
        <div class="media text-muted pt-3 align-items-center">
          <img src="{{ album.images[0].url }}" width="100px" height="100px">
          <div class="album-card album-info ml-2" style="flex-flow: column wrap">
            <div style="color: white;">{{ album.name }}</div>
            <div style="color: gray;">{{ album.artists[0].name }}</div>
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>
</main>
